{% extends 'bookstore/main.html'%}

{% block limam %}
  
<h1 class="p-5">Customer</h1>

<div class="container pb-5">
  <div class="row">
    <div class="col-sm" style="background: SpringGreen;">
      <a href="{% url 'create' customer.id %}">Create order</a>
    </div>
  </div>
</div>

{% comment %} <hr>
<div class="container pb-5">
  <div class="row">
    <div class="col-sm">
      <form class="form-inline  my-2 my-lg-0" method="GET">
        {% comment %} <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> {% endcomment %}
        {% comment %} {{myFilter.form}} {% endcomment %}
        {% comment %} <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> {% endcomment %}
      {% comment %} </form>
    </div>
  </div>
</div> {% endcomment %}
{% comment %} <hr> {% endcomment %} 

<div class="container pb-5">
  <div class="row">
    <div class="col-sm" style="background: DeepPink;">
      Full name :{{customer.name}}
    </div>
    <div class="col-sm" style="background: DeepPink;">
      Email : {{customer.email}}
    </div>
    <div class="col-sm" style="background: DeepPink;">
      Age : {{customer.age}}
    </div>
    <div class="col-sm" style="background: DeepPink;">
      phone : {{customer.phone}}
    </div>
    <div class="col-sm" style="background: DeepPink;">
      Number of orders : {{number_orders}}
    </div>
  </div>
</div>



<div class="container">
<table class="table">
  <thead>
    <tr style="color:Yellow";>
      
      <th scope="col">Book</th>
      <th scope="col">Catagory</th>
      <th scope="col">Date</th>
      <th scope="col">status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for item in orders %}
        <tr style="background: DarkOrange">
      <td>{{item.book}}</td>
      <td>{{item.book.category}}</td>
      <td>{{item.date_created}}</td>
      <td>{{item.status}}</td>
      <td>
        <a href="{% url 'update' item.id %}"><i class="fas fa-edit"></i></a>
        <a class="text-danger" href="{% url 'delete' item.id %}"><i class="fas fa-trash-alt"></i></a>
       </td>
        </tr>
      {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}