{% extends 'bookstore/main.html'%}

{% load static %}  


{% block limam %}


<style>

 h1 {
    background-color:red;
}

.body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Flabibliotheque.online%2F&psig=AOvVaw33wurS1wS2wiFKssvUA2li&ust=1633890684360000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMDamKj7vfMCFQAAAAAdAAAAABAD");
} 

</style>

{% comment %} <link rel='stylsheet' href="{% static '/css/dashboard.css'%}"/> {% endcomment %}

<h1 class="p-5">Dashboard</h1> 

 <div >

<div class="container pb-5">
  <div class="row">
    <div class="col" style="background: DeepPink;">
     Total Orders : <span class="badge bg-primary">{{t_orders}}</span>
    </div>
    <div class="col" style="background: DeepPink;">
      pending Orders : <span class="badge bg-secondary">{{p_orders}}</span>
    </div>
    <div class="col" style="background: DeepPink;">
      Delivered Orders : <span class="badge bg-danger">{{d_orders}}</span>
    </div>
    <div class="col" style="background: DeepPink;">
      in progress Orders : <span class="badge bg-warning text-dark">{{in_orders}}</span>
    </div>
    <div class="col" style="background: DeepPink;">
      out of Orders : <span class="badge bg-info text-dark">{{out_orders}}</span>
    </div>
  </div>
</div>




<div class="container">
 <div class="row">
  <div class="col">
<div class="card" style="width: 70%; height: 50px; float: left; background: green; border:5px solid #333;">
  <div class="card-body">

   <div class="grid"> 
    <div class="g-col-6"> <h5 class="card-title"> Customers :</h5></div>
    </div>
    {% comment %} <h6 class="card-subtitle mb-2 text-muted"><a class="btn btn-warning href="{% url 'create' %}">create customer:</a></h6> {% endcomment %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col" style="color:Maroon";>Name</th>
      <th scope="col" style="color:Maroon">Email</th>
      <th scope="col" style="color:Maroon">Age</th>
      <th scope="col" style="color:Maroon">Show</th>
      {% comment %} <th scope="col">Actions</th> {% endcomment %}
    </tr>
  </thead>
  <tbody>
    
      {% for item in customers %}
        <tr style="background: DarkOrange">
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>{{item.age}}</td>
      <td> <a href="{% url 'customer' item.id %}"><i class="fas fa-eye"></i> </a>
       {% comment %} <td>
        <a href="#"><i class="fas fa-edit"></i></a>
        <a class="text-danger" href="#"><i class="fas fa-trash-alt"></i></a>
       </td> {% endcomment %}
        </tr>
      {% endfor %}
    
  </tbody>
</table>
</div>
</div>
  </div>


  <div class="col"> 
<div class="container">  
<div class="card" style="margin-left: 30%; width: 80%;  height: 100px; background: blue; border:5px solid #333;">
  <div class="card-body">
    <h5 class="card-title">Orders :</h5>
    <h6 class="card-subtitle mb-2 text-muted"><a class="btn btn-success" href="#">create order</a></h6>
        <table class="table">
  <thead>
    <tr>
    <th scope="col" style="color:Maroon">Date</th>
      <th scope="col" style="color:Maroon">Customer</th>
      <th scope="col" style="color:Maroon">Book</th>
      <th scope="col" style="color:Maroon">Status</th>
      <th scope="col" style="color:Maroon">Actions</th>
    </tr>
  </thead>
  <tbody>
    
      {% for item in orders %}
        <tr style="background: DarkOrange">
      <td>{{item.date_created}}</td>
      <td>{{item.customer}}</td>
      <td>{{item.book}}</td>
      <td>{{item.status}}</td>
      <td>
        <a href="{% url 'update' item.id %}"><i class="fas fa-edit"></i></a>
        <a class="text-danger" href="{% url 'delete' item.id %}"><i class="fas fa-trash-alt"></i></a>
       </td>
        </tr>
      {% endfor %}
    
  </tbody>
</table>
</div>
</div>
  </div>
</div>
</div>

  {% comment %} <div class="row pt-5">
  <div class="col"> 
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
  </div>
   </div>
  </div>

  <div class="col">  
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
  </div>
    </div> {% endcomment %}
     </div>
  </div> 
</div>

</div>


{% endblock %}