{% extends 'bookstore/main.html'%}
{% comment %} {% include 'bookstore/navbar.html'%} {% endcomment %}
{% load static %}  
{% load i18n %}  



{% block limam %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    {% comment %} <div class="container"> {% endcomment %}
     <div class="row">
    <div class="col-md-8">

    {% comment %} <div class="card card-sm">
     <div class="card-body row no-gutters align-items-center">
     <div class="col">
         <input type="search" placeholder"enter le nom du produit" name="item-name">
         <div class="col-auto">
         <button type="submit" class="btn btn-success">Rechercher</button>
         </div>       
     </div>
     </div>
     </div> {% endcomment %}
    
    <h1 class ="mt-2">{% trans 'the details : '%} </h1>
    {% comment %} <h1 class ="text-center mt-2">the details </h1> {% endcomment %}
            <img src="{{article.image.url}}" alt="" style="max-width:500px;">
            
            {% if LANGUAGE_CODE == 'fr' %}
            <h2>{{article.title_fr}}</h2>
            {% else %}
             <h2>{{article.title}}</h2>
            {% endif %}
            
           {% comment %} <h2>{{article.title}}</h2> {% endcomment %}

            <h4 style="color:red">{% trans 'Price :'%}  {{article.price}} MRU</h4>
           {% if LANGUAGE_CODE == 'fr' %}
            <p>{{article.desc_fr}}</p>
            {% else %}
             <h2>{{article.desc}}</h2>
            {% endif %} 

             {% comment %} <h2>{{article.desc}}</h2> {% endcomment %}

            <a href="{% url 'checkout' article.id %}" class="btn btn-primary"> {% trans 'purchasing' %}</a>
            {% comment %} <a id="{{article.id }}" class="btn ted btn-success"> Ajouter </a> {% endcomment %}
      </div>
    <div class="col-md-4">
        <h3 class="mt-2"> {% trans 'Synonyms : '%} </h3>
        <div class="row">
           {% for art in aer%}

           {% if art.id != article.id %}
           
           <div class="col-md-7 mb-1" >
           {% if art.image != "http://default"%}
           <img src="{{art.image.url}}" alt="" style="max-width:180px;">
           {% else%}
            <img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Card image cap" style="max-width:180px;">> 
           {% endif %}
           </div>
          <div class="col-5">
            {% if LANGUAGE_CODE == 'fr' %}
            <strong>{{art.title_fr}} </strong><br>
            {% else %}
             <h2>{{article.title}}</h2>
            {% endif %} 

            {% comment %} <strong>{{art.title}} </strong><br> {% endcomment %}

           {% if LANGUAGE_CODE == 'fr' %}
            {{art.desc_fr|truncatewords:7}}
            {% else %}
             {{art.desc|truncatewords:7}}
            {% endif %} 
            
             {% comment %} {{art.desc|truncatewords:7}} {% endcomment %}

            </div>
            
            {% endif %}
           {% endfor %}
          
        
        </div>
        
     </div>
     </div>
     
     </div>
     <div style="width:500px;">
     {% include 'bookstore/footer.html'%}
     </div>
{% endblock %}
{% comment %} {% block js%}
      <script type="text/javascript">
         console.log('just pour tester '); 
         if(localStorage.getItem('panier')==null){
             var panier ={};
         }else{
           panier =JSON.parse(localStorage.getItem('panier'));
         }
         $(document).on('click','.ted',function(){
           console.log('ajouter');
           var item_id = this.id.toString();
           console.log(item_id);
           if(panier[item_id] != undefined){
             panier[item_id]=panier[item_id] +1;
           }else{
             panier[item_id]=1;
           }
           console.log(panier);
           localStorage.setItem('panier',JSON.stringify(panier));
           document.getElementById("panier").innerHTML="panier("+ object.keys(panier).length+")";
           
         });
      </script> {% endcomment %}

{% comment %} {% endblock %} {% endcomment %}

{% comment %} 
<!DOCTYPE html>
{% load static %} 
<html>
    <head>
        <meta charset="utf-8">
       
        <title></title>
       
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
         integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
         crossorigin="anonymous"/> 
<link rel='stylsheet'  type="text/css"  href="{% static '/css/style.css' %}"/> 

         <!-- MDB icon -->
  <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/mdb.min.css'%}">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="{% static 'css/style.css'%}">

    </head>
    <body>
        {% comment %} {% include 'bookstore/navbar.html'%} {% endcomment %}

            {% comment %} <h1>Detail Article </h1>
            <img src="{{article.image.url}}" alt="">
            <h2>{{article.title}}</h2>
            <p>{{article.desc}}</p>

          <script type="module">
  import { Toast } from 'bootstrap.esm.min.js'

  Array.from(document.querySelectorAll('.toast'))
    .forEach(toastNode => new Toast(toastNode))
</script> 

<!-- jQuery -->
  <script type="text/javascript" src="{% static 'js/jquery.min.js'%}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js'%}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js'%}"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script> 
    </body> {% endcomment %}
