{% extends 'bookstore/main.html'%}
<html>
<head>

</head>

<body>
{% block limam %}

<h1 class="p-5">Profile Information :</h1>
<hr>

<section>
<div class="container">
   <div class="card" style="width: 18rem;">
  <img src="{{request.user.customer.avatar.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    
<form method="POST" action="" enctype="multipart/form-data">
  <div class="form-group">
    {% csrf_token %}
    {{form.as_p}}
     
  </div>

    <button type="submit" class="btn btn-primary mb-3">submit</button>
  
</form> 
  </div>
</div>
</div>



{% endblock %}
</section>
</body>
</html>