{% extends 'bookstore/main.html'%}
{% load static %}  

{% block limam %}
  {% comment %} <h2 class="text-center mt-3">Welcom to your compte </h2> {% endcomment %}
<h1 class="text-center p-5">Profile Welcom to your compte  </h1>

{% comment %} <hr> {% endcomment %}


{% comment %} {{list_articles}} {% endcomment %}
<div class="container">
<div class="row">
{% for article in list_articles%}
<div class="card col-12 col-md-6 col-lg-3 col-xl-3">
<div class="card">

{% comment %} <img class="card-img-top" src="{% static article.image.url %}" alt="Card image cap" style="height:200px"> {% endcomment %}
{% if article.image == "http://default" %}

<a href="{% url 'detail' article.id %}"> 
<img class="card-img-top" src="https://via.placeholder.com/400x300" alt="Card image cap" style="height:200px"> </a>
{% else %}
<a href="{% url 'detail' article.id %}"> 
<img class="card-img-top" src="{{article.image.url}}" alt="Card image cap" style="height:200px"> </a>
{% endif %}
<div class="card-body" style="height:240px">

<h4 class="card-title"><a href="{% url 'detail' article.id %}">{{article.title}}</a></h2>
<p class="card-text">{{article.desc|truncatewords:8}}</p>
<p class="card-text">publie il y a {{article.created_at|timesince}}</p>
<a href="{% url 'detail' article.id %}" class="btn btn-primary"> Button</a>
<hr>
</div>
</div>
</div>
{% endfor %}
</div>


<div class="container pb-5">
  <div class="row" style="background: DeepPink;">
    <div class="col-sm">
      Name User :{{request.user.username}}
    </div>
    <div class="col-sm">
      total orders :<span class="badge bg-primary">{{t_orders}}</span>
    </div>
    <div class="col-sm">
      Pending : <span class="badge bg-secondary">{{p_orders}}</span>
    </div>
    <div class="col-sm">
      Delivered : {{d_orders}} <span class="badge bg-danger">{{d_orders}}</span>
    </div>
    <div class="col-sm">
      in Progress : {{in_orders}} <span class="badge bg-warning text-dark">{{in_orders}}</span>
    </div>
    <div class="col-sm">
      out Of orders : {{out_orders}} <span class="badge bg-info text-dark">{{out_orders}}</span>
    </div>
  </div>
</div>


<div class="container">
<table class="table" style="background: DeepPink;">
  <thead>
    <tr>
      
      <th scope="col">Book</th>
      <th scope="col">Catagory</th>
      <th scope="col">Date</th>
      <th scope="col">status</th>

    </tr>
  </thead>
  <tbody>
      {% for item in orders %}
        <tr>
      <td>{{item.book}}</td>
      <td>{{item.book.category}}</td>
      <td>{{item.date_created}}</td>
      <td>{{item.status}}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>
</div>
</div>
{% comment %} <div style="width:100px;">
{% include 'bookstore/footer.html'%}
</div> {% endcomment %}
{% include 'bookstore/footer.html'%}

{% endblock %}
