<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <h1 >Welcome To Register Here <i class="fas fa-hand-holding-heart"></i> </h1> 
 
</head>

<body>

<section>
<div class="container" >
<div class='col-sm-6'>
<div class='panel panel-default'>


<div class='panel-heading' style="width: 100%; height: 80px; float: left; background: red; border:4px solid #333;"> <h1>Register :</h1> </div>
<div class='panel-body'>
<form method="POST" action="">
  {% csrf_token %}   
  {% comment %} {{form.as_p}} {% endcomment %}

<div class="form-group">
   <label for="exampleInputEmail"> {{form.username.label}} </label>
   {% comment %} <input type="email class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"> {% endcomment %}
    {{form.username}} 
</div>

<div class="form-group">
   <label for="exampleInputEmail"> {{form.email.label}}</label>
   {% comment %} <input type="email class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"> {% endcomment %}
    {{form.email}} <br>
</div>

<div class="form-group">
   <label for="exampleInputEmail"> {{form.password1.label}}</label>
   {% comment %} <input type="email class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"> {% endcomment %}
    {{form.password1}} <br>
</div>

<div class="form-group">
   <label for="exampleInputEmail"> {{form.password2.label}}</label>
   {% comment %} <input type="email class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"> {% endcomment %}
    {{form.password2}} <br>
</div>






{% comment %} {{form.email.label}}
{{form.email}} <br>

  {{form.password1.label}}
  {{form.password1}} <br>

  {{form.password2.label}}
  {{form.password2}} <br> {% endcomment %}

  <script src="https://www.google.com/recaptcha/api.js"></script>
  <div class="g-recaptcha" data-sitekey="6LcRTpwcAAAAADImDgHmodr09nQxx4d5OT_Lj5NE"></div>

  <button type="submit" class="btn btn-primary">submit</button>
  <br>
  {{form.errors}}

  <br>
  <a href="{% url 'login' %}">Login page</a>

</form>
</div>
</section>
</body>