{% load static %}

 

<!DOCTYPE html>
<html>
<head>
       <title>Book Store</title>

</head>

<body id="bg">

{% block limam %}

<div class="card" >

  <div class="card-body">
  <form action="" method="POST">

  {% csrf_token %}
  {{form}}
  <button type="submit" class="btn btn-primary"> submit </button>
  </form>
  </div>
</div>


{% endblock %}



<script type="module">
  import { Toast } from 'bootstrap.esm.min.js'

  Array.from(document.querySelectorAll('.toast'))
    .forEach(toastNode => new Toast(toastNode))
</script>





</body>
</html>