.bg-primary {
    background-color:red;
}

h1 {
    background-color:blue;
}

body{
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2Flabibliotheque.online%2F&psig=AOvVaw33wurS1wS2wiFKssvUA2li&ust=1633890684360000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMDamKj7vfMCFQAAAAAdAAAAABAD");
}